#table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: auto; */
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.green {
    background-color: #64B255;
}

.light-green {
    background-color: #83C178;
    border: 1px solid lightgray;
    color: black;
}

button {
    width: 15%;
    height: 180px;
    font-size: 50px;
    color: white;
    border: 1px solid #83C178;
}

button:hover {
    color: white;
    cursor: pointer;
}

#numC:hover {
    background-color: #83C178;
}

#num--:hover {
    background-color: #83C178;
}

button:active {
    color: lightgreen;
}

button:focus {
    outline: none;
}

.display {
    width: 59.9%;
    font-size: 140px;
    color: white;
    border: 1px solid #83C178;
    text-align: right;
}